[defaults]
inventory = inventories/dev/hosts.yml
host_key_checking = False
interpreter_python = auto_silent
roles_path = roles
stdout_callback = default
callback_result_format = yaml
timeout = 30
forks = 10
nocows = 1

[ssh_connection]
pipelining = True
